body {
    background-color: darkslategrey;
}


.main-container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 50px;
}

table {
    margin-top: 30px;
}

.btn-outline-primary {
    color: black;
    background-color: #495057;
    border-color: #495057;
}

.btn-outline-primary:hover {
    background-color: darkslategray;
    border-color: black;
}

.resident-button {

}

.vote-button {

}

/*.modal {*/
/*    position:relative;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    height: 60%;*/
/*    width: 80%;*/
/*}*/