body {
    background-color: darkslategrey;
}


.main-container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-top: 50px;
}

table {
    margin-top: 30px;
}

.btn-outline-primary {
    color: black;
    background-color: #495057;
    border-color: #495057;
}

.btn-outline-primary:hover {
    background-color: darkslategray;
    border-color: black;
}

.resident-button {

}

.vote-button {

}

.close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}


.modal-content h2 {
    margin: 20px;
}

/*.modal {*/
/*    position:relative;*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    height: 60%;*/
/*    width: 80%;*/
/*}*/