{% extends 'layout.html' %}

{% block title %}Main{% endblock %}

{% block body %}
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Planet List</a>
                <a id="voteStat" class="nav-item nav-link" href="#">Voting Statistics</a>
                <a class="nav-item nav-link" href="/registration">Registration</a>
                <a class="nav-item nav-link" href="/login">Login</a>
                {% if session['username'] %}
                    <a class="nav-item nav-link" href="/logout">Logout</a>
                {% endif %}
            </div>
        </div>
        {% if session['username'] %}
            <p id="signed">Signed in as {{ session['username'] }}</p>
        {% endif %}
    </nav>
    <br>
    <div class="main-container">
        <h1>Star Wars universe planets</h1><br>
        <a id="previous" type="button" class="btn btn-outline-primary">Previous</a>
        <a id="next" type="button" class="btn btn-outline-primary">Next</a>

        <table class="table table-bordered table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Diameter</th>
                    <th scope="col">Climate</th>
                    <th scope="col">Terrain</th>
                    <th scope="col">Surface Water Percentage</th>
                    <th scope="col">Population</th>
                    <th scope="col">Residents</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div id="myModal" class="modal fade bd-example-modal-lg residents" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <a class="close" href="#">×</a>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Height</th>
                            <th scope="col">Mass</th>
                            <th scope="col">Hair color</th>
                            <th scope="col">Skin color</th>
                            <th scope="col">Eye color</th>
                            <th scope="col">Birth year</th>
                            <th scope="col">Gender</th>
                        </tr>
                    </thead>
                    <tbody class="residents-table"></tbody>
                </table>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    <div id="votingModal" class="modal fade bd-example-modal-lg residents" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <h2>Voting statistic</h2>
                <a class="close" href="#">×</a>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Planet name</th>
                            <th scope="col">Received votes</th>
                        </tr>
                    </thead>
                    <tbody class="vote-table"></tbody>
                </table>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    {% if session['username'] %}
        <script type="text/javascript">
            let username = '{{ session['username'] }}'
        </script>
    {% endif %}
{% endblock %}